/* #cv-form{
    display: none;
} */

body {
  background-color: #f0f0f0;
}

#cv-templete{
    display: none;
}


/* this class is to make changes in the profile img */
.myimg{
    border: 1px solid lavender;
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: lavender;
}

